/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);*/

/*************************
 *******Typography******
 **************************/

body {
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	color: #4e4e4e;
	line-height: 22px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	color: #4e4e4e;
}

h1 {
	font-size: 36px;
	color: #fff;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 16px;
	color: #787878;
	font-weight: 400;
	line-height: 24px;
}

h4 {
	font-size: 16px;
}

a {
	-webkit-transition: color 300ms, background-color 300ms;
	-moz-transition: color 300ms, background-color 300ms;
	-o-transition: color 300ms, background-color 300ms;
	transition: color 300ms, background-color 300ms;
}

a:hover, a:focus {
	color: #d43133;
}

hr {
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #fff;
}
#header{
	border-bottom:1px solid #CCCCCC;
}
.btn-primary {
	padding: 8px 20px;
	background: #c52d2f;
	color: #fff;
	border-radius: 4px;
	border: none;
	margin-top: 10px;
}

.btn-primary:hover, .btn-primary:focus {
	background: #c52d2f;
	outline: none;
	box-shadow: none;
}

.btn-transparent {
	border: 3px solid #fff;
	background: transparent;
	color: #fff;
}

.btn-transparent:hover {
	border-color: rgba(255, 255, 255, 0.5);
}

a:hover, a:focus {
	color: #111;
	text-decoration: none;
	outline: none;
}

.dropdown-menu {
	margin-top: -1px;
	min-width: 180px;
}

.center h2 {
	font-size: 36px;
	margin-top: 0;
	margin-bottom: 20px;
}

.media > .pull-left {
	margin-right: 20px;
}

.media > .pull-right {
	margin-left: 20px;
}

body > section {
	padding: 50px 0;
}

.center {
	text-align: center;
	padding-bottom: 55px;
}

.scaleIn {
	-webkit-animation-name: scaleIn;
	animation-name: scaleIn;
}

.lead {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

.transparent-bg {
	background-color: transparent !important;
	margin-bottom: 0;
}

@-webkit-keyframes scaleIn {
0% {
opacity: 0;
-webkit-transform: scale(0);
transform: scale(0);
}

100% {
opacity: 1;
-webkit-transform: scale(1);
transform: scale(1);
}
}

@keyframes scaleIn {
0% {
opacity: 0;
-webkit-transform: scale(0);
-ms-transform: scale(0);
transform: scale(0);
}

100% {
opacity: 1;
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
}
}

.no-radius {
    border-radius: 0;
}
.optBtnWrap  .no-radius{
	height: 25px;
    line-height: 22px;
    padding: 0;
    width: 70px;
}

/*************************
 *******Header******
 **************************/

#header .search {
	display: inline-block;
}
.logo {
   /*
	width: auto;
	height: auto;
	max-width: 70px;
	max-height: 114px;
	*/
	height: 40px;
    max-height: 114px;
    max-width: 90px;
    width: 90px;
}

.navbar > .container .navbar-brand {
	margin-left: 0;
}

.top-bar {
	padding: 10px 0;
	background: #191919;
	border-bottom: 1px solid #222;
	line-height: 28px;
}

.top-number {
	color: #fff;
}

.top-number p {
	margin: 0
}

.social {
	text-align: right;
}

.social-share {
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.social-share li {
	display: inline-block;
}

ul.social-share li a {
	display: inline-block;
	color: #fff;
	background: #404040;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border-radius: 2px;
}

ul.social-share li a:hover {
	background: #c52d2f;
	color: #fff;
}

.search i {
	color: #fff;
}

input.search-form {
	background: transparent;
	border: 0 none;
	width: 60px;
	padding: 0 10px;
	color: #FFF;
	-webkit-transition: all 400ms;
	-moz-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	transition: all 400ms;
}

input.search-form::-webkit-input-placeholder {
	color: transparent;
}

input.search-form:hover::-webkit-input-placeholder {
	color: #fff;
}

input.search-form:hover {
	width: 180px;
}

.navbar-brand {
	padding: 0;
	margin: 0;
}

.navbar {
	border-radius: 0;
	margin-bottom: 0;
	background: #485868;
	padding: 8px 0;
	padding-bottom: 0;
}

.navbar-nav {
	margin-top: 5px;
}

.navbar-nav > li {
	margin-left: 35px;
}

.navbar-inverse .navbar-nav > li > a {
	padding: 5px 12px;
	margin: 0;
	border-radius: 3px;
	color: #fff;
	line-height: 24px;
	display: inline-block;
}

.navbar-nav > li > a.userName{
	padding:15px 12px;
}

.navbar-inverse .navbar-nav > li > a:hover {
	/*background-color: #c52d2f;*/
	color: orange;
}

.navbar-inverse {
	border: none;
}

.navbar-inverse .navbar-brand {
	font-size: 36px;
	line-height: 50px;
	color: #fff;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	/*background-color: #c52d2f;*/
	background-color: transparent;
	color: orange;
}

.navbar-inverse .navbar-nav .dropdown-menu {
	background-color: #485868;
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
	-moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
	border: 0;
	padding: 0;
	margin-top: 0;
	border-radius: 0;
	border:1px solid #ccc;
	border-top:0;
	left: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu:before {
	position: absolute;
	top: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu > li > a {
	padding: 8px 15px;
	color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:hover > a, .navbar-inverse .navbar-nav .dropdown-menu > li:focus > a, .navbar-inverse .navbar-nav .dropdown-menu > li.active > a {
	background-color: transparent;
	color: orange;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:last-child > a {
	border-radius: 0 0 3px 3px;
}

.navbar-inverse .navbar-nav .dropdown-menu > li.divider {
	background-color: transparent;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-top: 0;
	padding-bottom: 0;
}

/*************************
 *******Home Page******
 **************************/
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	/*display: flex;*/
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.swiper-container {
	width: 100%;
	height: 100%;
}
.swiper-slide img {
	width: 100%;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.no-margin {
	margin: 0;
	padding: 0;
}

#conatcat-info {
	background: #fff url(../images/contact.png) no-repeat 90% 0;
	padding: 30px 0;
}

.contact-info i {
	width: 60px;
	height: 60px;
	font-size: 40px;
	line-height: 60px;
	color: #fff;
	background: #000;
	text-align: center;
	border-radius: 10px;
}

.contact-info h2 {
	margin-top: 0;
	color: #000;
}

.contact-info {
	color: #000;
}

.advText{
	width:50%;
	position:absolute;
	right:0;
	top:45%;
	color:#fff;
	font-size:30px;
	line-height:40px;
	float:right;
}

@media (min-width: 768px) {
	.advText{
		font-size:60px;
		line-height:70px;
	}
}

.img-desc{
	background: #fff none repeat scroll 0 0;
    border-radius: 20px;
    margin:20px 0;
}

.img-desc img{
	width:80%;
	margin:auto;
}
#feature{
	padding: 0;
}

.subTitle{
	text-align:center;
	font-size:40px;
	margin:50px;
	color:#999;
}

#function-case {
	padding: 0 0 20px 0;
}
/***********************
 ********* template ******
 ************************/
.portfolio-items, .portfolio-filter {
	list-style: outside none none;
	margin: 0 0 40px;
	padding: 0;
}
.portfolio-filter > li {
	display: inline-block;
}

.portfolio-filter > li a {
	background: none repeat scroll 0 0 #ffffff;
	border: 1px solid #f2f2f2;
	font-size: 14px;
	font-weight: 400;
	margin-right: 20px;
	outline: medium none;
	text-transform: uppercase;
	transition: all 0.9s ease 0s;
}
.portfolio-filter > li a:hover, .portfolio-filter > li a.active {
	/*background: none repeat scroll 0 0 #c52d2f;*/
	border: 1px solid #c52d2f;
	box-shadow: none;
	color: #fff;
}

.appInfoWrap{
	 padding: 10px;
}
.optBtnWrap{
	margin-top:20px;
	margin-bottom:8px;
	text-align:center;
}

.appAuthor{
	color:#888;
	font-size:12px;
}
.template-type {
	border-bottom: 0px solid #003BB3;
}
.templated {
	margin: 25px 0 0 0px;
}

.temp-border{
	 font-size:14px;
	 box-shadow:0 0 3px 1px rgba(100,100,100,.5);
}
.templated:hover .temp-border{
	box-shadow:0 0 3px 1px rgba(100,100,100,.8);
}
.search_box {
	background-image: url("../images/search_icon.png");
	background-position: 170px 6px;
	background-repeat: no-repeat;
	border-color: #dedede;
	box-shadow: none;
	height: 48px;
	outline: medium none;
}
/***********************
 ********* developerCenter ******
 ************************/

#developerMenu {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #e8e8e8;
	border-radius: 0px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
	overflow: auto;
}
#developerMenu ul li {
	text-align: right;
}
#developerMenu ul .active {
	background-color: #eee;
}
.account-info-ul li {
	line-height: 20px;
}

.setapp {
	color: #AC2925
}

.edit a {
	font-size: 12px;
	height: 24px;
	line-height: 8px;
	width: 76px;
}
.delete_btn {
	font-size: 12px;
	height: 22px;
	width: 42px;
	line-height: 6px;
	padding-left: 8px;
	margin-left: 15px;
	background: #ff6000 none repeat scroll 0 0;
}
.bartitl {
	background: none repeat scroll 0 0 #2795d0;
	color: #ffffff;
	height: 42px;
	line-height: 42px;
	padding-right: 13px;
	border-bottom: 1px solid #e8e8e8;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}
.account-info {
	background-color: #c9c9c9;
	border: 1px solid #e3e3e3;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
	margin: 1em 0;
}
.account-info-ul > li {
	margin-top: 12px;
}
.reflect {
	margin-bottom: 10px;
}
.btn.btn-info.btn-reflace {
	height: 30px;
	line-height: 1;
	text-align: center;
	width: 100px;
}

.balance-money > .money {
	color: #BB2413;
	margin-left: -20px;
}
.app-option > p {
	padding-left: 30px
}
.edit {
	margin-left: 10px
}
.app-option > div {
	margin-left: 20px;
}

/***********************
 ********* Footer ******
 ************************/

/*************************
 *******成功案例列表样式******
 **************************/
.appItem {
	margin-bottom:30px;
}
.appItem img {
    height: 250px;
    margin: auto;
    width: 250px;
}

.success-case > .appItem .appItemInner{
	box-shadow:0 0 2px 2px rgba(100,100,100,.5);
}

.success-case > .appItem .appItemInner h5{
	padding:20px 0;
	font-size:16px;
}

.success-case > .appItem img{
	margin: auto;
	width: 100%;
	height:auto;
}

@media (min-width: 768px) {
	.success-case > .appItem img{
		margin: auto;
		width: 100%;
		height:180px;
	}
}

.app-qrcode {
	display: none;
	max-width: 100%;
}
.appItem:hover .appImg {
	display: none;
}
.appItem:hover .app-qrcode {
	display: block;
}

/*************************
 /***********************
 ********* 个人信息 修改密码 ******
 ************************/
.fm_left {
	text-align: right;
	width: 100px;
	line-height: 20px;
	margin-top: 20px;
	float: left;
}

.profile li input {
	border: 1px solid #e8e8e8;
	height: 30px;
	line-height: 20px;
	margin-top: 20px;
	padding: 4px;
}
.profile li.save .btn {
	padding: 0 20px;
	margin-left: 108px;
}
.profile li .msg_red {
	background: url("../images/member_icon.png") no-repeat scroll 0 -30px rgba(0, 0, 0, 0);
	color: #fc3e3e;
	text-indent: 15px;
}

/***找服务****/
.findServicesTitle {
	border-bottom: 2px solid #1ab6b3;
	font-size: 14px;
	margin-left: 3%;
	padding: 5px;
	width: 94%;
}
.findServicesSiteList .siteList {
	border-bottom: 1px solid #ccc;
    display: block;
    float: left;
    margin-left: 20px;
    padding: 18px;
    width: 95%;
}
.findServicesSiteList .siteList .siteListImg {
	float: left;
	margin-right: 3%;
}
.findServicesSiteList .siteList .siteListImg img {
	height: 130px;
	margin-top: 5%;
	width: 140px;
}
.findServicesSiteList .siteList .findServicesContext {
	float: left;
}
.findServicesSiteList .siteList .findServicesContext .p1 {
	display: block;
}
.findServicesSiteList .siteList .findServicesContext .p1 .p1_span1 {
	margin-left: 50px;
}
.findServicesSiteList .siteList .findServicesContext .p1 .p1_span1 input {
	border-style: none;
	background: #fff;
	margin-top: -5px;
}
.findServicesSiteList .siteList .findServicesContext .p2 {
	display: block;
    height: 66px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 475px;
    word-break:break-all; /*支持IE，chrome，FF不支持*/
　　  word-wrap:break-word;/*支持IE，chrome，FF*/
}
.findServicesSiteList .siteList .findServicesContext .p2 span {
	font-size: 13px;
	letter-spacing: -0.5px
}
.findServicesSiteList .siteList .findServicesContext .p3 {
	display: block;
	float: left;
}
.findServicesSiteList .siteList .callBtn {
	float: left;
	left: 15%;
	position: relative;
	top: 30px;
}
.findServicesSiteList .siteList .callBtn span {
	background: #2D888D;
	color: white;
	padding: 8px 30px;
	font-size: 18px;
	position: relative;
}
/*发布需求*/
.toNeed_main {
	height: 960px;
	margin: 0 auto;
	padding: 0 20px;
	position: relative;
	width: 100%;
}
.main-box {
	border: 1px solid #CCCCCC;
	width: 100%;
	height: 777px;
	margin-top: 30px;
}
.main-box-left {
	width: 200px;
	height: 750px;
	float: left;
	background: #CFCFCF;
}
.main-box-left ul {
	margin-top: 10px;
}
.main-box-right {
	width: 792px;
	height: 750px;
	float: left;
}
.publicLI {
	line-height: 45px;
	text-align: center;
	font-size: 15px;
}
.blank {
	font-size: 30px;
	color: #CCCCCC;
	text-align: center;
	line-height: 680px;
}
.addRequest {
	background: #ff6600 none repeat scroll 0 0;
	border: 0 none;
	color: #333;
	height: 40px;
	width: 200px;
}
.writeTitle, .writeContent {
	font-size: 15px;
	margin-left: 200px;
	color: #C0C0C0;
	display: none;
}
.requestTitle, .requestContent, .requestMoney, .requestDate {
	border: 1px solid #CCCCCC;
}

.requestTitle {
	height: 36px;
	width: 253px;
}
.requestMoney {
	height: 36px;
	width: 253px;
	margin-left: -4px;
}
.requestDate {
	height: 36px;
	width: 253px;
	margin-left: -4px;
}
.requestContent {
	width: 600px;
	height: 200px;
	overflow: auto;
}
button:hover {
	cursor: pointer;
}
.text:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.boldFont {
	font-size: 18px;
	font-weight: bold;
	margin-left: 120px;
}
.textInner {
	font-size: 15px;
	margin-left: 120px;
}
#ajaxmask {
	background: none repeat scroll 0 0 #666666;
	display: none;
	height: 100%;
	left: 0;
	opacity: 0.8;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}
#ajaxmask .ajaxmessage {
	background: none repeat scroll 0 0 #000;
	border-radius: 8px;
	font-size: 20px;
	height: 80px;
	left: 35%;
	line-height: 80px;
	margin: auto;
	opacity: 1;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 30%;
	z-index: 200;
}
.writeTitle, .writeMoney, .writeDate, .writeContent {
	margin-top: 5px;
	position: absolute;
	display: none;
}
.writeTitle {
	margin-left: 400px;
}
.writeMoney {
	margin-left: 250px;
}
.writeDate {
	margin-left: 250px;
}
.writeContent {
	margin-left: 600px;
}
.out {
	position: absolute;
	top: -8px;
	border-width: 8px;
	border-style: solid;
	border-color: transparent #999999 transparent transparent;
}
.in {
	border-color: transparent #ffffff transparent transparent;
    border-style: solid;
    border-width: 8px;
    left: -5px;
    position: absolute;
    top: -8px;
}
.borderNeed {
	position: relative;
	border: 1px solid #999999;
	padding: 10px;
	left: 16px;
	border-radius: 5px;
	background: white;
	color: #2795D0;
	font-size: 15px;
	margin-top: -12px;
}
/**********会员中心我的订单样式****************/
.applist{
	min-height:500px;
}
.notcont{
	text-align:center;
}
.bindWechatOK{
	margin-left: 10px;
}
.bindWechatOK a{
	 background: none repeat scroll 0 0 #fe5353;
   font-size: 12px;
    height: 24px;
    line-height: 8px;
    width: 94px;
    color: #FFFFFF;
}
.bindWechatOK a:hover {
    background: none repeat scroll 0 0 #ff7171;
    color: #FFFFFF;
}
.cztitle ul li {
	list-style: none;
	display: inline-block;
	color: #fff;
	float: left;
	font-weight: bold;
	height: 33px;
	line-height: 33px;
	margin: 5px 0 0 10px;
	position: relative;
}
.cztitle {
	background: #0e9ed0 none repeat scroll 0 0;
	color: #fff;
	height: 38px;
	line-height: 38px;
	margin: 5px auto;
	width: 780px;
}

.cztitle li{
	padding:0 15px;
}

#allorders {
	background: #fff;
	color: #000;
}
/* table */
#container_table {
	width:100%;
	height:100%;
	display:table;
}
#container_table .container_table_row {
	display:table-row;
}
#container_table .container_table_cell {
	display:table-cell;
}
/*help */
#content .goTop {
	height:50px;
	overflow:hidden;
	width:50px;
	position:absolute;;
	display:none;
	padding-left:90%;
}
#content .goTop a, .goTop a:link {
	background:url("../images/gotop.png") no-repeat scroll 0 0 transparent;
	display:block;
	height:50px;
	width:50px;
	opacity:0.5;
	filter:alpha(opacity=50)
}
#content .goTop a:hover {
	background:url("../images/gotop.png") no-repeat scroll 0 -50px transparent;
	display:block;
}

#content .help_nav {
	width:190px;
}
#content .help_nav .title {
	padding-bottom:15px;
}
#content .help_nav .name_tit {
	width:100%;
	text-align:right;
	margin-bottom:2px;
	line-height:50px;
	color:#fff;
	background:url(../images/help_icon1.png) no-repeat 130px -25px #2795d0;
	font-size:16px;
}
#content .help_nav .name_tit {
	display:block;
}
#content .help_nav .name_tit a {
	display:block;
	background:url(../images/help_icon1.png) no-repeat 140px -25px #2795d0;
	color:#fff;
	padding-right:56px;
}
#content .help_nav .name_tit .show {
	background:url(../images/help_icon1.png) no-repeat 140px 22px #2795d0;
	color:#fff;
}
#content .help_nav .name_tit.show a {
	background:url(../images/help_icon1.png) no-repeat 140px 22px #2795d0;
	color:#fff;
}
#content .help_nav .son_name ul {
	border:1px solid #e8e8e8;
}
#content .help_nav .son_name li {
	width:100%;
	text-align:right;
	line-height:30px;
}
#content .help_nav .son_name li a {
	display:block;
	background:url(../images/member_icon.png) no-repeat 138px 8px;
	padding-right:56px;
}
#content .help_nav .son_name li.on {
	background:url(../images/member_icon.png) no-repeat 138px 8px #e8e8e8;
}
#content .help {
	width:775px;
	min-height:550px;
}
#content .help_title {
	width:100%;
	border-bottom:2px solid #2795d0;
	overflow:auto;
	line-height:36px;
	padding-top:2px;
}
#content .help_title li {
	float:left;
	line-height:36px;
	font-size:18px;
}
#content .ask_bot {
	margin-top:12px;
}

#content .help_title .ask_bot a:hover {
	background:#ff9c00;
}
#content .help .main li {
	width:45%;
	text-indent:15px;
	background:url(../images/member_icon.png) no-repeat 0 6px;
	line-height:30px;
	height:30px;
	border-bottom:1px dashed #e8e8e8;
}
#content .help .detail_title {
	width:100%;
	text-align:center;
	font-size:18px;
	line-height:25px;
	margin-top:20px;
}
#content .help .detail_title .time {
	font-size:12px;
	color:#999;
}
#content .help .detail_cont {
	line-height:25px;
	padding:10px 20px;
}
#content .help .detail_cont .img_p {
	text-align:center;
	vertical-align:middle;
}

.subMenu{
	position:absolute;
	width:140px;
	height:0px;
	background:#000;
	color:#fff;
	transition:all 0.5s;
	overflow:hidden;
	top:53px;
	left:-12px;
}
