@charset "utf-8";
* {
	margin:0px;
	padding:0px;
	list-style:none;
}

body {
	margin:auto;
	background:url(../Images/hr_gay_bj.jpg) repeat;
}
img {
	border:0px;
	margin:0px;
	padding:0px;
}
a:focus { outline: none; }
#top {
	position: fixed;
	width:100%;
	margin:auto;
	z-index: 99;
	background:url(../Images/hr_blue_bj.jpg) repeat;
}

#nav_top{
	width:1000px;
	position: relative;
	padding-bottom:10px;
	padding-top:20px;
	background:url(../Images/hr_blue_bj.jpg) repeat;
}
.logo {
	width:100%;
	text-align:center;
}
#nav {
	float:left;
	width:640px;
	margin:20px auto 0 200px;
	text-align:center;
}
#nav nav {
	float:left;
	margin-right:10px;
	width:150px;
	height:40px;
	text-align:center;
	line-height:40px;
	color:#fff;
}
#nav nav a {
	display:block;
	width:150px;
	height:40px;
	line-height:40px;
	text-decoration:none;
	color:#fff;
}
#nav nav a:hover {
	border-radius:3px;
	background:rgb(1,78,122);
	background:-moz-linear-gradient(top,rgba(1,78,122,1),rgba(0,78,122,0.5));
}

.caret {
	display:block;
	position:absolute;
	z-index:1;
	width:0;
	height:0;
	left:65px;
	top:40px;
	color:rgba(1,78,122,1);
	border-top:8px solid;
	border-right:8px solid transparent;
	border-left:8px solid transparent
}
.clear {
	clear:both;
	float:none;;
}
.hr-line {
	width:800px;
	margin-left:100px;
	height:2px;
	border:0px;
	background:url("../Images/hr_top_line.gif") repeat;
}
#img{
	width:100%;
	background:url("../Images/hr_blue_bj.jpg") repeat;
}
.hr-img {
	position:relative;
	width:1000px;
	padding-top:180px;
}
.hr-img img {
	margin:auto;
	border:0px;
	width:1000px;
	margin-top:-5px;
}
.navmk{
	position: absolute;
	float:left;
	width:640px;
	height:50px;
	margin:20px auto 0 200px;
	background: rgba(255,255,255,0);
}
.mk{
	position: absolute;
	width:150px;
	height: 40px;
	top:124px;
	text-align:center;
	line-height:40px;
	border:1px solid rgba(1,78,122,1);
	background:rgba(1,78,122,1);
	background:-moz-linear-gradient(top,rgba(1,78,122,1),rgba(0,78,122,0.5));
}
.mk span{
	position:relative;
	display:block;
	margin:2px 0 0 0px;
	width:150px;
	height:35px;
	line-height:35px;
	text-align:center;
	
	color:#fff;
}
#content {
	position:relative;
	width:1000px;
	margin:-15px auto;
	overflow-x:hidden;
	z-index: 1;
}
#content ul  a {
	display:block;
	margin-top:10px;
	margin-left:30px;
	width:140px;
	height:41px;
	text-indent:1000px;
	white-space:nowrap;
	overflow:hidden;
	background:url("../Images/hr_btn.jpg") no-repeat;
}
#content h4 {
	margin-left:15px;
	height:53px;
	font-size:25px;
	font-weight:bold;
	line-height:53px;
	text-indent:55px;
	background:url("../Images/hr_dot.jpg") no-repeat;
}
#content ul li {
	margin:8px 0 0 10px;
	line-height:25px;
	font-family:"Century Gothic";
	color:rgba(0,0,2,0.4);
	font-weight:600;
}
.hr-html, .hr-app ,.hr-php, .hr-usersurver{
	position:absolute;
	width:1000px;
	float:left;
	padding-top:100px;
	z-index: 3;
}
#content ul {
	float:left;
}
.hr-html img, .hr-app img ,.hr-php img, .hr-usersurver img{
	float:left;
	margin:80px 0 0 50px;
}


.hr-php img, .hr-usersurver img {
	border:0px;
	float:left;
}
#container{
	position:relative;
	width:100%;
	height:493px;
	
}
#contentbg{
	width:100%;
	background:url("../Images/hr_gay_bj.jpg") repeat;
}
#content .hr-touch {
	position:relative;
	width:1000px;
	height:800px;
	text-align:center;
	margin-top:40px;
	z-index: 1;
}
#fileField {
	margin-left:190px;
	margin-top:30px;
}
#fileField span {
	display:inline;
	text-align:center;
	margin-left:auto;
}

span {
	display:block;
	width:400px;
	margin-left:10px;
	text-align:left;
	line-height:30px;
}
span label {
	display:block;
	color:rgba(0,0,2,0.6)
}
#hr-user {
	position:fixed;
	width:500px;
	height:400px;
	background:rgba(184,185,186,0.5);
	z-index:999;
}
.user_content {
	width:480px;
	height:380px;
	margin:10px 10px;
	background:#ffffff;
}
.hr-user-top {
	height:30px;
	line-height:30px;
	text-indent:20px;
	background:rgb(243,243,243);
}
.colse {
	display:block;
	float:right;
	height:20px;
	width:20px;
	margin:4px;
	text-indent:6px;
	font-size:12px;
	text-decoration:none;
	color:#000;
	line-height:20px;
	background:rgba(205,205,205,0.5);
	border-radius:20px;
}
.colse:hover {
	background:rgba(205,206,207,1);
}
.hr-user textarea {
	width:320px;
	height:100px;
	margin-left:90px;
	border:1px solid #cdcdcd;
	resize:none;
}
#hr-user input {
	display:block;
}
.hr-user label {
	display:block;
	margin:10px 10px;
}
.submit {
	width:120px;
	height:34px;
	margin:30px 190px;
	background-color:#505050;
	background-image:linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image:-o-linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image:-moz-linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image:-webkit-linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image:-ms-linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0, #505050),color-stop(1, #707070));
	background-position:center top;
	background-repeat:no-repeat;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	border-radius:30px;
	border:2px solid #808080;
	color:#FFF;
	font:bold 12px Arial,Helvetica,sans-serif;
	text-align:center;
	text-shadow:0 -1px 0 rgba(0,0,0,0.25);
}
