@CHARSET "UTF-8";

.logo_top{background-color:#1576d0;height: 80px;width: 100%;position: fixed; bottom: 0px; left: 0px; right: auto;_position: absolute; top: 0px; }
.logo_left,.logo_left,.logo_left{height:100%;float:left;width:33%;}